doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title Lubien's Portfolio

    meta(name='description', content="Lubien's webdeveloper portfolio.")
    meta(name='author', content='Lubien - João Ferreira')

    meta(itemprop='name', content="Lubien's Portfolio")
    meta(itemprop='description', content="Lubien's webdeveloper portfolio.")
    meta(itemprop='image', content='images/avatar-square.png')

    meta(property='og:title', content="Lubien's Portfolio")
    meta(property='og:type', content='profile')
    meta(property='fb:profile_id', content='100001930604345')
    meta(property='og:url', content='http://lubien.info')
    meta(property='og:image', content='images/avatar-square.png')
    meta(property='og:description', content="Lubien's webdeveloper portfolio.")
    meta(property='fb:admins', content='100001930604345')

    meta(property='profile:first_name', content='João')
    meta(property='profile:last_name', content='Ferreira')
    meta(property='profile:gender', content='male')
    meta(property='profile:username', content='lubien')

    link(rel="icon", href="images/favicon.png")

    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://code.cdn.mozilla.net/fonts/fira.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet", href="styles/styles.min.css")
  body
    #page-header.jumbotron
      .container
        #page-title
          h1 Lubien
          h3 João Ferreira
          #social-icons
            a(href="https://www.facebook.com/lubienwork", target="_blank"): .icon: i.fa.fa-facebook
            a(href="https://plus.google.com/+Jo%C3%A3oFerreiraLubien/", target="_blank"): .icon: i.fa.fa-google
            a(href="https://github.com/lubien", target="_blank"): .icon: i.fa.fa-github-alt
            a(href="https://bitbucket.org/lubien/", target="_blank"): .icon: i.fa.fa-bitbucket
        img(src="images/avatar-render.png", alt="Lubien").avatar

    nav#navbar.navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-top', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Navigation
        #navbar-top.collapse.navbar-collapse
          ul.nav.navbar-nav
            li: a(href='#about') About
            li: a(href='#contact') Contact
            li: a(href='#gallery') Gallery
            li: a(href='#thanks') Thanks

    .container
      #about
        h3.section-title About
        p Bachelor course student in Computer Science at the Federal University of Pará, I have as hobby web development.
        p Overall, I create systems that could make my life easier. Since I enjoy the process of making websites, I've been learning tools to make possible to abstract my ideas in a digital being.

      #contact
        h3.section-title Contact
        p You could contact me by my email lubien1996@gmail.com or any other social network I have.

      #gallery
        h3.section-title Gallery
        .cols
          .col
            a(href="http://tools.lubien.info/fbmosaic/")
              img(src="images/projects/fbmosaic.jpg", alt="Facebook Photos Mosaic", target="_blank")
              h4 Facebook Photos Mosaic
          .col
            a(href="http://tools.lubien.info/top10/")
              img(src="images/projects/top10gen.jpg", alt="Top10 Image Generator", target="_blank")
              h4 Top10 Image Generator
          .col
            a(href="https://kioshianimes.com.br")
              img(src="images/projects/kioshi.jpg", alt="Kioshi Animes", target="_blank")
              h4 Kioshi Animes
          .col
            a(href="http://dbfgo.anitopic.com/servant/")
              img(src="images/projects/dbfgo.jpg", alt="Fate/Grand Order Database Project", target="_blank")
              h4 Fate/Grand Order Database Project
          .col
            a(href="https://github.com/lubien/flat-mal")
              img(src="images/projects/flat-mal.jpg", alt="Flat MyAnimeList.net List Design", target="_blank")
              h4 Flat MyAnimeList.net List Design

      #thanks
        .h3.section-title Thanks to
        p #[a(href="http://setsunakiddo.deviantart.com/", alt="Setsuna Kiddo's DeviantArt page.", target="_blank") Setsuna Kiddo] for giving me an avatar image.
        p #[a(href="https://www.facebook.com/isaac.issei", alt="Isaac Moreno", target="_blank") Isaac Moreno] for making a render over my avatar.


    script(src="https://code.jquery.com/jquery-1.12.0.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="scripts/app.min.js")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-61736723-3', 'auto');
      ga('send', 'pageview');
